<h1>Reviewing Flashcards</h1>

<br/>
<div id="front">
<h3>Front</h3>
<br/>
<%= @flashcards[@flashcard_counter].front %>
<br/>
</div>

<div id="back">
<h3>Back</h3>
<br/>
<%= @flashcards[@flashcard_counter].back %>
</div>
<br/><br/>
<div id="next">
<%= link_to 'Next Flashcard', deck_flashcards_path, class: "btn btn-primary" %>
</div>
<br/>
<br/>
<%= link_to 'Back to Decks', decks_path %>
