// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "bootstrap-responsive";

body {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: #28123D;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
  color: white;
  h1 {
  	font-size: 72px;
  	line-height: 1;
	}
	.btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}
/* Supporting marketing content */
.marketing {
  margin: 60px 0;
  color: white;
  p + h4 {
    margin-top: 28px;
  }
}
