<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li class="active"><%=link_to "Home", root_path%></li>
    <li><%= link_to "Profile", new_profile_path %></li>
  </ul>
  <h3 class="muted">COSC617</h3>
</div>
<hr>